<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36419882218-lca69jhu5871bt9g8fekkndfvsf4vl47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36419882218-lca69jhu5871bt9g8fekkndfvsf4vl47</string>
	<key>API_KEY</key>
	<string>AIzaSyC9JRNb5wWk_ofhMX1TMyD_13Ay3zDCUZk</string>
	<key>GCM_SENDER_ID</key>
	<string>36419882218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ssdsApp</string>
	<key>PROJECT_ID</key>
	<string>ssds-112</string>
	<key>STORAGE_BUCKET</key>
	<string>ssds-112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36419882218:ios:52092fe24ae7e4d8d91b93</string>
</dict>
</plist>